In [1]:
import pymysql.cursors #import cursors

In [2]:
#Connect mySQL database by using Python
connection = pymysql.connect(host='localhost',
                            user='root',
                            cursorclass=pymysql.cursors.DictCursor)

In [3]:
#show existing databases
with connection.cursor() as cursor:
    cursor.execute("show databases")
    databases = cursor.fetchall()
    
print(databases)

[{'Database': 'information_schema'}, {'Database': 'mall'}, {'Database': 'mysql'}, {'Database': 'performance_schema'}, {'Database': 'phpmyadmin'}, {'Database': 'sportclub'}, {'Database': 'test'}, {'Database': 'tseblog'}, {'Database': 'university'}]

In [4]:
connection.cursor().execute('drop database sportclub')

4

In [5]:
#Create Sport Club database
connection.cursor().execute('create database sportclub')

1

In [6]:
#Create customer table
#customer id will be PK since it is unique
connection.cursor().execute('create table sportclub.customer (customer_id int not null, customer_name varchar(20), customer_lastname varchar(20), registration_date date, customer_email varchar(30), primary key(customer_id))')

0

In [7]:
#Create trainer table
#trainer id will be PK since it is unique
connection.cursor().execute('create table sportclub.trainer (trainer_id int not null, trainer_name varchar(20), trainer_lastname varchar(20), trainer_level varchar(20), trainer_email varchar(30), primary key(trainer_id))')

0

In [8]:
#Create class table
#class id will be PK since it is unique
#customer_id and trainer_id will be foreign keys since every class needs at least one customer and trainer
connection.cursor().execute('create table sportclub.class (class_id int not null, customer_id int not null, trainer_id int not null, class_name varchar(30), class_capacity int not null, class_time time, primary key(class_id), foreign key(customer_id) references customer(customer_id), foreign key(trainer_id) references trainer(trainer_id))')

0

In [9]:
#Create membership table
#customer_id and membership_id will be compound pk's since membership is weak
#customer_id will also be fk because membership_id will be unique iff customer_id exists
connection.cursor().execute('create table sportclub.membership (membership_id int not null, customer_id int not null, type varchar(20), membership_price nvarchar(30), membership_length nvarchar(30), primary key(customer_id, membership_id), foreign key(customer_id) references customer(customer_id) )')

0

In [10]:
connection.cursor().execute('use sportclub')
#Insert values into customer table
sql = "INSERT INTO customer (customer_id, customer_name, customer_lastname, registration_date, customer_email) VALUES (%s, %s, %s, %s, %s)"
val = [
  (1,'Jerry', 'Seinfeld','2020-12-12', 'jerry@hotmail.com'),
  (2,'Elaine', 'Benes','2008-10-03','elaine@hotmail.com'),
  (3,'George', 'Costanza','2015-08-04', 'george@hotmail.com'),
  (4,'Cosmo', 'Kramer','2010-11-9','kramer@hotmail.com'),
  (5,'Newman', 'Newman','2003-12-10','newman@hotmail.com'),
  (6,'Frank', 'Costanza','2018-9-1','frank@hotmail.com')
]

connection.cursor().executemany(sql, val)

connection.commit()

In [11]:
#Insert values into trainer table
sql2 = "INSERT INTO trainer (trainer_id, trainer_name, trainer_lastname, trainer_level, trainer_email) VALUES (%s, %s, %s, %s, %s)"
val2 = [
  (1,'Michael', 'Scofield','advanced', 'michael@hotmail.com'),
  (2,'Theodore', 'Bagwell','beginner','theodore@hotmail.com'),
  (3,'Sara', 'Tancredi','intermediate', 'sara@hotmail.com'),
  (4,'Lincoln', 'Burrows','advanced','lincoln@hotmail.com'),
  (5,'Alex', 'Mahone','expert','alex@hotmail.com'),
  (6,'John', 'Abruzzi','expert','john@hotmail.com')
    
]

connection.cursor().executemany(sql2, val2)

connection.commit()

In [12]:
#Insert values into class table
sql3 = "INSERT INTO class (class_id, customer_id, trainer_id, class_name, class_capacity, class_time) VALUES (%s, %s, %s, %s, %s, %s)"
val3 = [
  (1, 2, 1,'Boxing', 10, '12:12:00'),
  (2, 3, 4,'Yoga',  20, '10:00:00'),
  (3, 5, 3,'Zumba', 15, '15:30:00'),
  (4, 4, 3, 'Dance',25, '11:15:00'),
  (5, 1, 5, 'Fitness',25, '20:45:00'),
  (6, 6, 6, 'Cardio', 30, '18:40:00')
]

connection.cursor().executemany(sql3, val3)

connection.commit()

In [13]:
#Insert values into membership table
sql4 = "INSERT INTO membership (membership_id, customer_id, type, membership_price, membership_length) VALUES (%s, %s, %s, %s, %s)"
val4 = [
  (1, 2, 'gold' ,'20000','24'),
  (2, 3, 'premium' ,'18000','20'),
  (3, 4, 'premium','12000', '18'),
  (4, 5, 'bronze', '10000','10'),
  (5, 1, 'silver' , '15000','12'),
  (6, 6, 'gold' , '17000','12')
]

connection.cursor().executemany(sql4, val4)

connection.commit()

In [14]:
#to print the resulst like a table
def printResults(records):
    print('\t'.join([str(r).ljust(15) for r in records[0].keys()]))
    
    for record in records:
        print('\t'.join([str(r).ljust(15) for r in record.values()])) #to print the results like a table

In [15]:
#print customer table
with connection.cursor() as cursor:
    cursor.execute("use sportclub")
    cursor.execute("select * from customer")
    customer = cursor.fetchall()
    printResults(customer)

customer_id    	customer_name  	customer_lastname	registration_date	customer_email
1              	Jerry          	Seinfeld       	2020-12-12     	jerry@hotmail.com
2              	Elaine         	Benes          	2008-10-03     	elaine@hotmail.com
3              	George         	Costanza       	2015-08-04     	george@hotmail.com
4              	Cosmo          	Kramer         	2010-11-09     	kramer@hotmail.com
5              	Newman         	Newman         	2003-12-10     	newman@hotmail.com
6              	Frank          	Costanza       	2018-09-01     	frank@hotmail.com

In [16]:
#print trainer table
with connection.cursor() as cursor:
    cursor.execute("use sportclub")
    cursor.execute("select * from trainer")
    trainer = cursor.fetchall()
    printResults(trainer)

trainer_id     	trainer_name   	trainer_lastname	trainer_level  	trainer_email
1              	Michael        	Scofield       	advanced       	michael@hotmail.com
2              	Theodore       	Bagwell        	beginner       	theodore@hotmail.com
3              	Sara           	Tancredi       	intermediate   	sara@hotmail.com
4              	Lincoln        	Burrows        	advanced       	lincoln@hotmail.com
5              	Alex           	Mahone         	expert         	alex@hotmail.com
6              	John           	Abruzzi        	expert         	john@hotmail.com

In [17]:
#print class table
with connection.cursor() as cursor:
    cursor.execute("use sportclub")
    cursor.execute("select * from class")
    classes = cursor.fetchall()
    printResults(classes)

class_id       	customer_id    	trainer_id     	class_name     	class_capacity 	class_time
1              	2              	1              	Boxing         	10             	12:12:00
2              	3              	4              	Yoga           	20             	10:00:00
3              	5              	3              	Zumba          	15             	15:30:00
4              	4              	3              	Dance          	25             	11:15:00
5              	1              	5              	Fitness        	25             	20:45:00
6              	6              	6              	Cardio         	30             	18:40:00

In [18]:
#print membership table
with connection.cursor() as cursor:
    cursor.execute("use sportclub")
    cursor.execute("select * from membership")
    membership = cursor.fetchall()
    printResults(membership)

membership_id  	customer_id    	type           	membership_price	membership_length
5              	1              	silver         	15000          	12
1              	2              	gold           	20000          	24
2              	3              	premium        	18000          	20
3              	4              	premium        	12000          	18
4              	5              	bronze         	10000          	10
6              	6              	gold           	17000          	12

In [19]:
#show possible operations to user 
def operations():
    print("You are using Sport Club database, please select one of the operations given below...")
    print("[N]ew Record")
    print("[S]how Table")
    print("[A]dvanced Command")
    print("[C]ommit Changes")
    print("[D]rop Table")
    print("[E]xit")

    
    #Valid operations are..   
    valid_options = ['N', 'S' , 'A', 'C', 'D', 'E']
    
    #ask the user until a valid operation is entered
    while True:
        #get the operation from user
        #make it global to access it from every function
        global operation_selected  
        operation_selected = input("Option: ")
        #if user enters a valid operation do not ask again
        if operation_selected in valid_options:
            break
        else:
            #if user enters an unvalid operation then ask for a valid one and show the valid operations again
            print('Please enter a valid operation. Valid operations are: ', ",".join(valid_options))
            
    #show the selected operation to user
    print("You've chosen: ", operation_selected)


operations()

You are using Sport Club database, please select one of the operations given below...
[N]ew Record
[S]how Table
[A]dvanced Command
[C]ommit Changes
[D]rop Table
[E]xit
Option: s
Please enter a valid operation. Valid operations are:  N,S,A,C,D,E
Option: S
You've chosen:  S

In [20]:
#add new record to the selected table if N is selected
#show the operations menu to the user until it is not empty
while operation_selected != " ":
    if operation_selected == "N":
        global table_selected
        #ask for which table to add new record
        table_selected = input("Table name: ")
        #give information to the user
        print("Your are inserting new record to "+table_selected+ " table...")

        #enter new record to customer table if it is selected
        if table_selected == "customer":
            global customer_table1,customer_table2,customer_table3,customer_table4,customer_table5
            customer_table1 = input("Enter attribute - customer_id: ")
            customer_table2 = input("Enter attribute - customer_name: ")
            customer_table3 = input("Enter attribute - customer_lastname: ")
            customer_table4 = input("Enter attribute - registration_date: ")
            customer_table5 = input("Enter attribute - customer_email: ")
            
            #insert the entered values into the selected table
            def insert_customer(customer_id,customer_name,customer_lastname,registration_date,customer_email):
                with connection.cursor() as cursor:
                    insert= 'insert into customer (customer_id,customer_name,customer_lastname,registration_date,customer_email) values (%s,%s,%s,%s,%s)'
                    values = (customer_id,customer_name,customer_lastname,registration_date,customer_email)
                    cursor.execute(insert, values)
                    connection.commit()
                    cursor.execute('select * from customer')
                    show_customer = cursor.fetchall()
                    #printResults(show_customer)
                    #give info to user if new record is added
                    print("Record is inserted to " +table_selected+ " table...")
                    operations()


            insert_customer(customer_table1,customer_table2,customer_table3,customer_table4,customer_table5)

        #enter new record to trainer table if it is selected
        elif table_selected == "trainer":
            global trainer_table1,trainer_table2,trainer_table3,trainer_table4,trainer_table5
            trainer_table1 = input("Enter attribute - trainer_id: ")
            trainer_table2 = input("Enter attribute - trainer_name: ")
            trainer_table3 = input("Enter attribute - trainer_lastname: ")
            trainer_table4 = input("Enter attribute - trainer_level: ")
            trainer_table5 = input("Enter attribute - trainer_email: ")

            #insert the entered values to the trainer table
            def insert_trainer(trainer_id,trainer_name,trainer_lastname,trainer_level,trainer_email):
                with connection.cursor() as cursor:
                    insert2 = 'insert into trainer (trainer_id,trainer_name,trainer_lastname,trainer_level,trainer_email) values (%s,%s,%s,%s,%s)'
                    values2 = (trainer_id,trainer_name,trainer_lastname,trainer_level,trainer_email)
                    cursor.execute(insert2, values2)
                    connection.commit()
                    cursor.execute('select * from trainer')
                    show_trainer = cursor.fetchall()
                    #printResults(show_trainer)
                    print("Record is inserted to " +table_selected+ " table...")
                    operations()
            #insert given attributes to the table
            insert_trainer(trainer_table1,trainer_table2,trainer_table3,trainer_table4,trainer_table5)

        #enter new record to class table if it is selected    
        elif table_selected == "class":
            global class_table1,class_table2,class_table3,class_table4,class_table5,class_table6
            class_table1 = input("Enter attribute - class_id: ")
            class_table2 = input("Enter attribute - customer_id: ")
            class_table3 = input("Enter attribute - trainer_id: ")
            class_table4 = input("Enter attribute - class_name: ")
            class_table5 = input("Enter attribute - class_capacity: ")
            class_table6 = input("Enter attribute - class_time: ")
            
            
            #insert the entered values to the class table
            def insert_class(class_id, customer_id, trainer_id, class_name, class_capacity, class_time):
                with connection.cursor() as cursor:
                    insert3 = 'insert into class (class_id, customer_id, trainer_id, class_name, class_capacity, class_time) values (%s,%s,%s,%s,%s,%s)'
                    values3 = (class_id, customer_id, trainer_id, class_name, class_capacity, class_time)
                    cursor.execute(insert3, values3)
                    connection.commit()
                    cursor.execute('select * from class')
                    show_class = cursor.fetchall()
                    #printResults(show_class)
                    print("Record is inserted to " +table_selected+ " table...")
                    operations()

            insert_class(class_table1,class_table2,class_table3,class_table4,class_table5,class_table6)

        #enter new record to membership table if it is selected    
        elif table_selected == "membership":
            global membership_table1,membership_table2,membership_table3,membership_table4,membership_table5
            #ask for membership table attributes
            membership_table1 = input("Enter attribute - membership_id: ")
            membership_table2 = input("Enter attribute - customer_id: ")
            membership_table3 = input("Enter attribute - type: ")
            membership_table4 = input("Enter attribute - membership_price: ")
            membership_table5 = input("Enter attribute - membership_length: ")

            #insert the entered attributes into membership table
            def insert_membership(membership_id, customer_id, type, membership_price, membership_length):
                with connection.cursor() as cursor:
                    insert4 = 'insert into membership (membership_id, customer_id, type, membership_price, membership_length) values (%s,%s,%s,%s,%s)'
                    values4 = (membership_id, customer_id, type, membership_price, membership_length)
                    cursor.execute(insert4, values4)
                    connection.commit()
                    cursor.execute('select * from membership')
                    show_membership = cursor.fetchall()
                    #printResults(show_membership)
                    print("Record is inserted to " +table_selected+ " table...")
                    operations()

            insert_membership(membership_table1,membership_table2,membership_table3,membership_table4,membership_table5)

    #show databases if S is selected       
    if operation_selected == "S":
        global table_selected2
        #select a table to show
        table_selected2 = input("Table name: ")
        
        #if table name entered is customer then show customer table
        if table_selected2 == "customer":
            with connection.cursor() as cursor:
                cursor.execute("select * from customer")
                cus = cursor.fetchall()
                printResults(cus)
                operations()
        #if table name entered is trainer then show customer table
        elif table_selected2 == "trainer":
            with connection.cursor() as cursor:
                cursor.execute("select * from trainer")
                tr = cursor.fetchall()
                printResults(tr)
                operations()
        #if table name entered is class then show customer table
        elif table_selected2 == "class":
            with connection.cursor() as cursor:
                cursor.execute("select * from class")
                cls = cursor.fetchall()
                printResults(cls)
                operations()
        #if table name entered is membership then show customer table
        elif table_selected2 == "membership":
            with connection.cursor() as cursor:
                cursor.execute("select * from membership")
                memb = cursor.fetchall()
                printResults(memb)
                operations()
                
    #if selected operation is A then take the advanced command by user
    if operation_selected == "A":
        
        print("You are executing advanced commands...")
        adv_command = input("Advanced command: ")
        
        with connection.cursor() as cursor:
            #execute the adv command written by user
            cursor.execute(adv_command)
            show_tab = cursor.fetchall()
            print(adv_command)
            printResults(show_tab)
            operations()
            
    #if selected operation is D then ask for which table to drop      
    if operation_selected == "D":
        
       #ask the user which table to drop
        table_drop = input("Table name : ")
        
        with connection.cursor() as cursor:
            #drop the selected table
            cursor.execute('drop table ' + table_drop )
            droptb = cursor.fetchall()
            #give info about which table is dropped
            print(table_drop+ " table dropped...")
            operations()
            
            
     #if selected operation is C then commit all the changes to database
    if operation_selected == "C":
        
        with connection.cursor() as cursor:
            #commit changes
            connection.commit()
            print("Changes are committed to database...")
            operations()
            
    #if selected operation is E then exit         
    if operation_selected == "E":
        print("Byee!")
        #closing the connection
        connection.close()
        #dont show the operations menu again to the user
        break

Table name: customer
customer_id    	customer_name  	customer_lastname	registration_date	customer_email
1              	Jerry          	Seinfeld       	2020-12-12     	jerry@hotmail.com
2              	Elaine         	Benes          	2008-10-03     	elaine@hotmail.com
3              	George         	Costanza       	2015-08-04     	george@hotmail.com
4              	Cosmo          	Kramer         	2010-11-09     	kramer@hotmail.com
5              	Newman         	Newman         	2003-12-10     	newman@hotmail.com
6              	Frank          	Costanza       	2018-09-01     	frank@hotmail.com
You are using Sport Club database, please select one of the operations given below...
[N]ew Record
[S]how Table
[A]dvanced Command
[C]ommit Changes
[D]rop Table
[E]xit
Option: N
You've chosen:  N
Table name: customer
Your are inserting new record to customer table...
Enter attribute - customer_id: 7
Enter attribute - customer_name: chandler
Enter attribute - customer_lastname: bing
Enter attribute - registration_date: 2000-12-09
Enter attribute - customer_email: chandler@hotmail.com
Record is inserted to customer table...
You are using Sport Club database, please select one of the operations given below...
[N]ew Record
[S]how Table
[A]dvanced Command
[C]ommit Changes
[D]rop Table
[E]xit
Option: C
You've chosen:  C
Changes are committed to database...
You are using Sport Club database, please select one of the operations given below...
[N]ew Record
[S]how Table
[A]dvanced Command
[C]ommit Changes
[D]rop Table
[E]xit
Option: N
You've chosen:  N
Table name: trainer
Your are inserting new record to trainer table...
Enter attribute - trainer_id: 7
Enter attribute - trainer_name: ross
Enter attribute - trainer_lastname: geller
Enter attribute - trainer_level: expert
Enter attribute - trainer_email: ross@hotmail.com
Record is inserted to trainer table...
You are using Sport Club database, please select one of the operations given below...
[N]ew Record
[S]how Table
[A]dvanced Command
[C]ommit Changes
[D]rop Table
[E]xit
Option: C
You've chosen:  C
Changes are committed to database...
You are using Sport Club database, please select one of the operations given below...
[N]ew Record
[S]how Table
[A]dvanced Command
[C]ommit Changes
[D]rop Table
[E]xit
Option: S
You've chosen:  S
Table name: trainer
trainer_id     	trainer_name   	trainer_lastname	trainer_level  	trainer_email
1              	Michael        	Scofield       	advanced       	michael@hotmail.com
2              	Theodore       	Bagwell        	beginner       	theodore@hotmail.com
3              	Sara           	Tancredi       	intermediate   	sara@hotmail.com
4              	Lincoln        	Burrows        	advanced       	lincoln@hotmail.com
5              	Alex           	Mahone         	expert         	alex@hotmail.com
6              	John           	Abruzzi        	expert         	john@hotmail.com
7              	ross           	geller         	expert         	ross@hotmail.com
You are using Sport Club database, please select one of the operations given below...
[N]ew Record
[S]how Table
[A]dvanced Command
[C]ommit Changes
[D]rop Table
[E]xit
Option: E
You've chosen:  E
Byee!